<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VarcalSys_System.Util.Properties.Settings.strConnection"
            connectionString="server=mysql01.varcalsys1.hospedagemdesites.ws;user id=varcalsys1;password=galleguy35;database=varcalsys1;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>