<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VarcalSys_System.Util.Properties.Settings.strConnection"
            connectionString="server=localhost;user id=root;password=AM@varcal2014;database=varcalsys"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>