@{
    ViewBag.Title = "VarçalSys | About";
    ViewBag.SelectedMenu = "aEmpresa";
}

<div class="content_wrapper_sbr">
    <div class="PageTitle">
        <h1>Nossa Empresa</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home/Index" title="Home">Home</a> &raquo; Sobre nós
    </div>
    <!-- Content Area -->
    <div id="content">
        <p>
            <img src="/images/about_pic.png" width="620" height="425" alt="" /></p>
        <h2>Quem nós somos</h2>
        <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec malesuada. Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi et urna. Aliquam erat volutpat.  Quisque vitae sem in massa viverra laoreet vitae at lectus. Phasellus sem est, posuere at sollicitudin a, eleifend vel mauris. Praesent quis erat eget ipsum vulputate volutpat. Nulla facilisi. Cras gravida elit nec libero accumsan mattis. Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui, varius nec laoreet ac, cursus vel quam. In tempus velit ut massa lobortis a facilisis neque dapibus.</p>
        <p>
            Quisque enim nulla, suscipit eu porttitor et, bibendum vitae sapien. Nulla a tellus lectus, facilisis porta nunc. Pellentesque ante lacus, congue non lobortis in, vehicula sit amet nisi. Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. 
Malesuada orcdonec umet lorem doloronsecada. Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi et urna. Aliquam erat volutpat. Adipiscing elit. Maurisfetun Duis ultricies pharetra magna.
        </p>
        <div class="hr"></div>
        <h2>Nossa Equipe</h2>
        <div class="columns">
             <div class="column">
                <img src="/images/team_thumb1.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Cleber Varçal</h4>
                 Desenvolvedor .Net <br />
                 Análise de Sistemas pela Fatec/SP
                <div class="clear"></div>
            </div>
            <div class="column">
                <img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="hr"></div>
        <div class="columns2">
            <div class="column">
                <img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>
                <div class="clear"></div>
            </div>
            <div class="column">
                <img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Sidebar Area -->
    <div id="sidebar">
        <div class="widget-container widget_search">
            <form action="action" id="searchform">
                <div>
                    <label for="s" class="screen-reader-text">Search for:</label>
                    <input type="text" id="s" name="s" value="" />
                    <input type="submit" value="Search" id="searchsubmit" />
                </div>
            </form>
        </div>
        <div class="widget-container widget_categories">
            <h3>Categories</h3>
            <ul>
                <li><a href="blog_single.html" title="Web Design">Web Design</a></li>
                <li><a href="blog_single.html" title="News">News</a></li>
                <li><a href="blog_single.html" title="Photography">Photography</a></li>
                <li><a href="blog_single.html" title="Technology">Technology</a></li>
            </ul>
        </div>
        <div class="widget-container widget_tabbed">
            <!-- Start Tabbed Box Container -->
            <!-- Tabs Menu -->
            <ul class="tab-items">
                <li><a href="#tabs-1" title="Popular">Popular</a></li>
                <li><a href="#tabs-2" title="Recent">Recent</a></li>
                <li><a href="#tabs-3" title="Comments">Comments</a></li>
            </ul>
            <!-- Tab Container for menu with ID tabs-1 -->
            <div class="tabs-inner" id="tabs-1">
                <ul>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_p_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Accumsan malesuada sitmet eros</a></b>
                        <span class="date">September 15, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_p_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_p_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_p_04.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 20, 2010</span>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- Tab Container for menu with ID tabs-2 -->
            <div class="tabs-inner" id="tabs-2">
                <ul>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_r_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_r_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_r_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Ullam corporis suscipit</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html">
                            <img src="/images/content/sidebar_r_04.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- Tab Container for menu with ID tabs-3 -->
            <div class="tabs-inner" id="tabs-3">
                <ul>
                    <li>
                        <b><a href="blog_single.html">Accumsan malesuada sitmet eros lorem</a></b>
                        <span class="date">September 15, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 20, 2010</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Tabbed Box Container -->
        <!-- Recent Projects Slider -->
        <div class="widget-container widget_recent_projects">
            <h3>Recent Projects</h3>
            <ul>
                <li>
                    <a href="portfolio_single.html">
                        <img src="/images/content/sidebar_rp_01.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a href="portfolio_single.html">Donec accumsan malesuada</a></b>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
                </li>
                <li>
                    <a href="portfolio_single.html">
                        <img src="/images/content/sidebar_rp_02.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a href="portfolio_single.html">Donec accumsan malesuada</a></b>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
                </li>
                <li>
                    <a href="portfolio_single.html">
                        <img src="/images/content/sidebar_rp_03.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a href="portfolio_single.html">Donec accumsan malesuada</a></b>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan.</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
