@{
    ViewBag.Title = "VarçalSys | Video-Aulas";
    ViewBag.SelectedMenu = "videoaula";
}

<div class="content_wrapper">
	<div class="PageTitle">
		<h1>Curso C#</h1>
	</div>
	<div id="breadcrumbs">
	    <a href="/Home/Index" title="Home">Home</a> &raquo; <a href="/Home/Cursos">Curso</a> &raquo; Curso C#
	</div>
	<!-- Content Area -->
	<div id="content">
		<div class="portfolio_three_col">
			<ul>
			    <li>
			        <div class="portfolio_thumb">
			            <a href="https://www.youtube.com/watch?v=mdNVJXGbopA&list=PLo0CspCRAtwndfkUwRqTjBtjMiP22vcWd" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
			        </div>
			        <div class="portfolio_det">
			            <h2>Aula 01 - Introdução</h2>
			            <p>Esse é o primeiro video de uma série de video aulas que irei disponibilizar para quem tem interesse nessa linguagem de programação.</p>
			            @*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">Veja mais</a>*@
			            <div class="clear"></div>
			        </div>
			    </li>
				<li>
					<div class="portfolio_thumb">
						<a href="https://www.youtube.com/watch?v=OfyKi3CDL30" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
					    <h2>Aula 02 - Instalaçao Visual Studio 2013</h2>
						<p>Nessa aula vou mostrar como baixar e instalar o visual studio 2013 express que será nossa ferramenta durante todo o curso</p>
						@*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">Veja mais</a>*@
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="https://www.youtube.com/watch?v=IJQetwIBOOQ" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
						<h2>Aula 03 - Introdução a Lógica de Programação</h2>
						<p>Nessa aula uma rápida explicação sobre algoritimos, veremos todos esses conceitos na prática a partir da próxima aula</p>
						@*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">Veja mais</a>*@
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="https://www.youtube.com/watch?v=9ptDlRojRU4" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
						<h2>Aula 04 - Variáveis</h2>
						<p>Nesse video começamos de fato fazer uso da ferramenta IDE Visual Studio e falamos um pouco sobre variáveis e como podemos manipula-las em nossos programas</p>
						@*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">read more</a>*@
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="https://www.youtube.com/watch?v=UYBwF6WN0fI" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
						<h2>Aula 05 - Operadores Matemáticos</h2>
						<p>Nessa aula vou demonstrar como utilizar os operadores matemáticos pegando informações digitadas pelo usuário, efetuando a operação e mostrando na tela</p>
						@*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">read more</a>*@
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="https://www.youtube.com/watch?v=vhGOpJRicbE" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/videoAula.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
						<h2>Aula 06 - Operadores Relacionais e Lógicos</h2>
						<p>Nessa aula vou abordar os operadores relacionais e lógicos e demonstrar como podem ser utilizados</p>
						@*<a href="/Home/PortifolioSingle" class="btn alignleft" title="read more">read more</a>*@
						<div class="clear"></div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<!-- Start Paging -->
		<div class="wp-pagenavi">
			<ul>
				<li><span class="pages">Page 1 of 7</span></li>
				<li><a href="#" class="first">&laquo; First</a></li>
				<li><a href="#" class="previouspostslink">&lsaquo;</a></li>
				<li><a href="#" class="page">1</a></li>
				@*<li><a href="#" class="page">2</a></li>
				<li><a href="#" class="page">3</a></li>
				<li><a href="#" class="page">4</a></li>
				<li><span class="current">5</span></li>
				<li><span class="extend">...</span></li>*@
				<li><a href="#" class="nextpostslink">&rsaquo;</a></li>
				<li><a href="#" class="last">Last &raquo;</a></li>
			</ul>
		</div>

		<!-- Start Alternate Paging -->
		@*<div class="navigation" id="nav-above">
			<div class="nav-previous"><a href="#" ><span class="meta-nav">&larr;</span> Older posts</a></div>
			<div class="nav-next"><a href="#" >Newer posts <span class="meta-nav">&rarr;</span></a></div>
		</div>*@
		<div class="clear"></div>
	</div>
</div>
