@{
    ViewBag.Title = "VarçalSys | Cursos";
    ViewBag.SelectedMenu = "cursos";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
	<div class="PageTitle">
		<h1>Nossos Cursos</h1>
	</div>
	<div id="breadcrumbs">
		<a href="/Home/Index" title="Home">Home</a> &raquo; Curso
	</div>
	<!-- Content Area -->
	<div id="content">
		<div class="portfolio_one_col">
			<ul>
				<li>
					<div class="portfolio_thumb">
						<a href="/Home/CSharp"><img src="/Website/gallery/thumb/folio_1_01.jpg" width="582" height="274" alt="" class="pic" /></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="/Home/CSharp">Curso C#</a></h2>
					    <p>
					        Esse curso é destinado a alunos inciantes. <br/>
                            Serão abordados pricípios básicos desde lógica de programação, conceito de algorítimos, 
					        passando por orientação a objetos. Ao longo deste curso iremos desenvolver uma aplicação básica com acesso a banco de dados 
                            e assim colocando todos os conceitos vistos em prática. 
					    </p>
						<a href="/Home/CSharp" class="btn alignleft" title="read more">Acesse os Videos</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Home/AspNetMVC"><img src="/Website/gallery/thumb/folio_1_02.jpg" width="582" height="274" alt="" class="pic" /></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="/Home/AspNetMVC">Curso AspNet MVC</a></h2>
					    <p>
					        Esse curso é destinado a quem já possui conhecimentos básicos da linguagem C#.<br/>
					        Ao decorrer do curso iremos desenvolver uma aplicação Web utilizando o padrão MVC(Model-View-Controller), 
                            o intuito desse curso é que ao seu término o aluno esteja apto a desenvolver uma 
                            aplicação web com um dos padrões mas utilizados hoje no mercado.
					    </p>
						<a href="/Home/AspNetMVC" class="btn alignleft" title="read more">Acesse os Videos</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</li>
			@*	<li>
					<div class="portfolio_thumb">
						<a href="http://www.youtube.com/watch?v=1iIZeIy7TqM?width=640&height=360" data-rel="prettyPhoto[gallery]"><img src="gallery/thumb/folio_1_03.jpg" width="582" height="274" alt="" class="pic" /><span class="hover_vid"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
						<a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="gallery/fullsize/folio_1_04.jpg" data-rel="prettyPhoto[gallery]"><img src="gallery/thumb/folio_1_04.jpg" width="582" height="274" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
						<a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</li>*@
			</ul>
			<div class="clear"></div>
		</div>
		@*<!-- Start Paging -->
		<div class="wp-pagenavi">
			<ul>
				<li><span class="pages">Page 1 of 7</span></li>
				<li><a href="#" class="first">&laquo; First</a></li>
				<li><a href="#" class="previouspostslink">&lsaquo;</a></li>
				<li><a href="#" class="page">1</a></li>
				<li><a href="#" class="page">2</a></li>
				<li><a href="#" class="page">3</a></li>
				<li><a href="#" class="page">4</a></li>
				<li><span class="current">5</span></li>
				<li><span class="extend">...</span></li>
				<li><a href="#" class="nextpostslink">&rsaquo;</a></li>
				<li><a href="#" class="last">Last &raquo;</a></li>
			</ul>
		</div>*@

		@*<!-- Start Alternate Paging -->
		<div class="navigation" id="nav-above">
			<div class="nav-previous"><a href="#" ><span class="meta-nav">&larr;</span> Older posts</a></div>
			<div class="nav-next"><a href="#" >Newer posts <span class="meta-nav">&rarr;</span></a></div>
		</div>*@
		<div class="clear"></div>
	</div>
</div>
<!-- End Content Wrapper -->
