@{
    ViewBag.Title = "VarçalSys | Portifolio";
    ViewBag.SelectedMenu = "portifolio";
}

<div class="content_wrapper">
<div class="PageTitle">
		<h1>Portfolio Three Columns</h1>
	</div>
	<div id="breadcrumbs">
		<a href="index.html" title="Home">Home</a> &raquo; Portfolio 3 Columns
	</div>
	<!-- Content Area -->
	<div id="content">
		<div class="portfolio_three_col">
			<ul>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_01.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="#">Nunc elementum libero</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_02.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="#">Curabitur vel orci est</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_03.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="#">Quisque malesuada</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_04.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="portfolio_single.html">Maecenas elementum varius dolor</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_05.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_05.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2><a href="portfolio_single.html">Pellentesque ac imperdiet</a></h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
				<li>
					<div class="portfolio_thumb">
						<a href="/Website/gallery/fullsize/folio_3_06.jpg" data-rel="prettyPhoto[gallery]"><img src="/Website/gallery/thumb/folio_3_06.jpg" width="277" height="154" alt="" class="pic" /><span class="hover_img"></span></a>
					</div>
					<div class="portfolio_det">
						<h2>Suspendisse est sapien</h2>
						<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit Malesuada orcidonec sitmet eros lorem isum dolor amet incon...</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<div class="clear"></div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<!-- Start Paging -->
		<div class="wp-pagenavi">
			<ul>
				<li><span class="pages">Page 1 of 7</span></li>
				<li><a href="#" class="first">&laquo; Primeira</a></li>
				<li><a href="#" class="previouspostslink">&lsaquo;</a></li>
				<li><a href="#" class="page">1</a></li>
				@*<li><a href="#" class="page">2</a></li>
				<li><a href="#" class="page">3</a></li>
				<li><a href="#" class="page">4</a></li>
				<li><span class="current">5</span></li>*@
				<li><a href="#" class="nextpostslink">&rsaquo;</a></li>
				<li><a href="#" class="last">Ultima &raquo;</a></li>
			</ul>
		</div>
	</div>
</div>