@{
    ViewBag.Title = "VarçalSys | Detalhes";
    ViewBag.SelectedMenu = "portifolio";
}

<div class="content_wrapper">
	<div class="PageTitle">
		<h1>Detalhes Portifólio</h1>
		<div class="prev_next_proj">
			<a href="#" title="Previous Project" class="prev_proj">Anterior</a>
			<a href="#" title="Next Project" class="next_proj">Próximo</a>
		</div>
	</div>
	<div id="breadcrumbs">
		<a href="/Home/Index" title="Home">Home</a> &raquo; <a href="/Home/Portifolio" title="Portfolio">Portfolio</a> &raquo; Detalhes
	</div>
	<!-- Content Area -->
	<div id="content">
		<div class="portfolio_detailed">
			<div class="portfolio_rotator">
				<ul>
					<li><img src="/images/content/portfolio_single_01.jpg" alt="" /></li>
					<li><img src="/images/content/portfolio_single_02.jpg" alt="" /></li>
					<li><img src="/images/content/portfolio_single_03.jpg" alt="" /></li>
					<li><img src="/images/content/portfolio_single_04.jpg" alt="" /></li>
				</ul>
				<a href="#" class="btn-prev">Previous</a>
				<a href="#" class="btn-next">Next</a>
			</div>
			<div class="portfolio_description">
				<div class="tags"><a href="#">web</a>, <a href="#">identity</a>, <a href="#">print</a>, <a href="#">video</a></div>
				<div class="divisions"><a href="#">design</a>, <a href="#">html+css</a>, <a href="#">php</a>, <a href="#">jQuery</a></div>
				<h3>Description:</h3>
				<p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accu. Malesuada orcdonec umet lorem dolonsec.</p>
				<ul class="okay_gray">
					<li>Sitmet eros lorem isum dolor </li>
					<li>Adipiscing maurise pharetra magna</li>
					<li>Malesuada orcdonec umet lorem </li>
				</ul>
				<div class="buttons">
					<a href="#" class="btn alignleft back" title="back to portfolio">back to portfolio</a>
					<a href="http://themeforest.net" class="btn alignleft" title="visit site">visit site</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- Start Commentlist -->
		<h3>Discussion - 3 comments</h3>
		<!-- Start Commentlist Navigation -->
		<div class="comments-navigation">
			<div class="comments-nav-previous"><a href="#">Older Comments</a></div>
			<div class="comments-nav-next"><a href="#">Newer Comments</a></div>
		</div>
		<ul id="commentlist">
			<li>
				<div class="comment">
					<div class="vcard">
						<img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
						<span class="comment_author">Maggy</span>
						<span class="when_posted">20.12.2010 at 21:55</span>
						<div class="clear"></div>
					</div>
					<div class="posted_content"><div class="pointer_pc"></div>
						<div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada cdonec umet lorem doloronsec tetuer malesuada.</div>
						<a href="#" class="comment-reply-link">Reply</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</li>
			<li class="odd">
				<div class="comment">
					<div class="vcard">
						<img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
						<span class="comment_author">Varçal</span>
						<span class="when_posted">12.07.2014 at 04:45</span>
						<div class="clear"></div>
					</div>
					<div class="posted_content"><div class="pointer_pc"></div>
						<div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada orcdonec umet lorem doloronsec tetuer malesuada.</div>
						<a href="#" class="comment-reply-link">Reply</a>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</li>
		</ul>
		<!-- Start Commentlist Navigation -->
		<div class="comments-navigation">
			<div class="comments-nav-previous"><a href="#">Comentátios Antigos</a></div>
			<div class="comments-nav-next"><a href="#">Cometários Recentes</a></div>
		</div>
		<div class="hr bottom"></div>
		<!-- Start Commentform -->
		<h2>Deixe seu cometário</h2>
		<form action="action" id="commentform">
			<p><img src="/images/icon_author.png" width="16" height="16" alt="" class="icon" /><label for="name">Nome: <small>(required)</small></label><input type="text" id="name" /></p>
			<p><img src="/images/icon_mail.png" width="16" height="16" alt="" class="icon" /><label for="email">E-mail: <small>(will not be published) (required)</small></label><input type="text" id="email" /></p>
			<p><img src="/images/icon_website.png" width="16" height="16" alt="" class="icon" /><label for="website">Website:</label><input type="text" id="website" /></p>
			<p><label for="your_message">Sua Mensagem:</label><textarea id="your_message" cols="15" rows="7"></textarea></p>
			<p><input type="submit" value="Submit Comment" /></p>
		</form>
	</div>
</div>
