@{
    ViewBag.Title = "VarçalSys | Sobre Nós";
    ViewBag.SelectedMenu = "aEmpresa";
}

<div class="content_wrapper_sbr">
    <div class="PageTitle">
        <h1>Nossa Empresa</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home/Index" title="Home">Home</a> &raquo; Sobre nós
    </div>
    <!-- Content Area -->
    <div id="content" style="width: 940px;">
        <p>
            <img src="/images/about1_pic.png" width="940" height="425" alt="" /></p>
        <h2>Sobre nós...</h2>
        <p>
            Somos uma empresa de Desenvolvimento de Sistemas que preza pela qualidade do software, adotando as boas práticas de programação, procurando ao máximo, 
            cada vez mais atingir a excelência em nossos produtos, desenvolvendo sistemas customizados, o que tornam os sistemas adequados aos tipos de negócios de 
            nossos clientes. 
            <br/>
            Nossa empresa adota a política de compartilhamento de conhecimento, assim disponibilizando diversas vídeo aulas para pessoas que pretendem entrar para o 
            mundo da tecnologia da informação. Esse projeto visa formar ou pelo menos despertar o interesse pela programação e porque não torná-los futuros profissionais.    
            <br/>
                    
        </p>

        <div class="hr_940" style="width: 940px;"></div>
        <h2>Nossa Equipe</h2>
        <div class="columns">
             <div class="column">
                <img src="/images/team_thumb1.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Cleber Varçal</h4>
                 Sócio Diretor <br />
                 Análise de Sistemas Desenvolvedor .Net
                <div class="clear"></div>
            </div>
            <div class="column">
                <img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Andrew Mello</h4>
                <p>Desenvolvedor Java<br />
                 Análise de Sistemas Fatec/SP</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="hr_940" style="width: 940px;"></div>
        <div class="columns2">
            <div class="column">
                @*<img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>*@
                <div class="clear"></div>
            </div>
            <div class="column">
                @*<img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>*@
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
