<div id="featured_bottom_line">
            <div id="slider-code">
                <a class="buttons prev" href="#">left</a>
                <div class="viewport">
                    <ul class="overview">
                         <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel1.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Massive Admin Panel</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel6.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Excepteur sint occaecat</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel7.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Eupidatat non proident</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel8.png" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Sint occaecat cupida</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel5.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Massive Admin Panel</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel2.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Excepteur sint occaecat</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel3.png" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Eupidatat non proident</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel4.png" width="200" height="150" alt="" /></a><h4><a href="http://nhforge.org/">Sint occaecat cupida</a></h4>
                        </li>  
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel1.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Massive Admin Panel</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel6.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Excepteur sint occaecat</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel7.jpg" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Eupidatat non proident</a></h4>
                        </li>
                        <li><a href="/Home/PortifolioSingle">
                            <img src="/images/carousel/carousel8.png" width="200" height="150" alt="" /></a><h4><a href="/Home/PortifolioSingle">Sint occaecat cupida</a></h4>
                        </li>                  
                    </ul>
                </div>
                <a class="buttons next" href="#">right</a>
            </div>

            <div class="clear"></div>
        </div>