<!-- Start Footer Sidebar -->
@*<div class="fsb_full">
    <div id="fsb">
        <!-- Start First Collumn -->
        <div class="widget-container widget_recent_posts" data-place="2">
            <h3>Latest News</h3>
            <ul>
                <li>
                    <a href="blog_single.html" class="thumb">
                        <img src="/images/news_pic1.jpg" alt="" width="72" height="48" border="0" /></a>
                    <h4><a href="blog_single.html">Cufon Font Replacement</a></h4>
                    <p>Aenean convallis ultricies nisl, et ultrices metus gravida vel.</p>
                    <div class="clear"></div>
                </li>
                <li>
                    <a href="blog_single.html" class="thumb">
                        <img src="/images/news_pic2.jpg" width="72" height="48" alt="" /></a>
                    <h4><a href="blog_single.html">Auto Column Alignment</a></h4>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum.</p>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <!-- Start Second Collumn -->
        <div class="widget-container widget_links">
            <h3>Blogroll</h3>
            <ul>
                <li><a href="#" title="Development Blog">Development Blog</a></li>
                <li><a href="#" title="Documentation">Documentation</a></li>
                <li><a href="#" title="Plugins">Plugins</a></li>
                <li><a href="#" title="Suggest Ideas">Suggest Ideas</a></li>
                <li><a href="#" title="Support Forum">Support Forum</a></li>
            </ul>
        </div>
        <!-- Start Third Collumn -->
        <div class="widget-container widget_archive">
            <h3>Archives</h3>
            <ul>
                <li><a href="blog.html" title="August 2011">August 2011</a></li>
                <li><a href="blog_alternate.html" title="July 2011">July 2011</a></li>
                <li><a href="blog.html" title="June 2011">June 2011</a></li>
                <li><a href="blog_alternate.html" title="May 2011">May 2011</a></li>
                <li><a href="blog.html" title="April 2011">April 2011</a></li>
            </ul>
        </div>
        <!-- Start Fourth Collumn -->
        <div class="widget-container widget_recent_posts" data-place="2">
           <h3>Latest News</h3>
            <ul>
                <li>
                    <a href="blog_single.html" class="thumb">
                        <img src="/images/news_pic1.jpg" alt="" width="72" height="48" border="0" /></a>
                    <h4><a href="blog_single.html">Cufon Font Replacement</a></h4>
                    <p>Aenean convallis ultricies nisl, et ultrices metus gravida vel.</p>
                    <div class="clear"></div>
                </li>
                <li>
                    <a href="blog_single.html" class="thumb">
                        <img src="/images/news_pic2.jpg" width="72" height="48" alt="" /></a>
                    <h4><a href="blog_single.html">Auto Column Alignment</a></h4>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum.</p>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>*@
<!-- End Footer Sidebar -->
<!-- Start Footer  -->
<div class="footer_full">
    <div id="footer">
        <div class="copy">
            <p>Copyright &copy; @DateTime.Now.Year  &bull;  VarçalSys  &bull;  All rights reserved</p>
            <p class="developed_by">Developed By: <a href="http://varcalsys.com.br/">VarçalSys Soluçoes</a></p>
        </div>
        <div class="social">
            <a href="http://www.facebook.com/varcalsys" title="Facebook">
                <img src="/images/facebook.png" width="42" height="42" alt="" /></a>
            <a href="#" title="Myspace">
                <img src="/images/myspace.png" width="42" height="42" alt="" /></a>
            <a href="#" title="RSS Feed">
                <img src="/images/rss.png" width="42" height="42" alt="" /></a>
            <a href="#" title="Twitter">
                <img src="/images/twitter.png" width="42" height="42" alt="" /></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Footer  -->