@using System.Net.Mime
<div id="MainNav">
    <a href="/Home/Index" class="logo">
        <img src="/images/logo.png" width="200" height="80" alt="" /></a>
            <div id="menu">
            <ul class="ddsmoothmenu">
                <li id="home"         @if (ViewBag.SelectedMenu == "home") { <text>class="current-menu-item"</text> }><a href="/Home" title="Home">Home<span class="menu_description">Página Inicial</span></a></li>
                <li id="aEmpresa"     @if (ViewBag.SelectedMenu == "aEmpresa") {<text>class="current-menu-item"</text>}><a href="/Home/About" title="About">A Empresa<span class="menu_description">Conheça nossa Empresa</span></a></li>
              @*<li id="fotos"        @if (ViewBag.SelectedMenu == "fotos") { <text>class="current-menu-item"</text> }><a href="#" title="Fotos">Fotos<span class="menu_description">Nossa Galeria </span></a></li>*@
                <li id="videoaula"    @if (ViewBag.SelectedMenu == "videoaula") { <text>class="current-menu-item"</text> }><a href="/Home/VideoAula" title="">Video-Aulas<span class="menu_description">Nossos Trabalhos</span></a></li>
                <li id="parceiros"    @if (ViewBag.SelectedMenu == "parceiros") { <text>class="current-menu-item"</text> }><a href="#" title="Parceiros">Parceiros<span class="menu_description">Nossos Parceiros</span></a></li>
                <li id="contato"      @if (ViewBag.SelectedMenu == "contato") { <text>class="current-menu-item"</text> }><a href="/Contato/Create" title="Contato">Contato<span class="menu_description">Fale Conosco</span></a></li>
                <li id="areaRestrita" @if (ViewBag.SelectedMenu == "areaRestrita") { <text>class="current-menu-item"</text> }><a href="#" title="Área Restrita">Área Restrita<span class="menu_description">Área Administrativa</span></a></li>              
            </ul>
           @* <span class="username" style="margin-left: 80px;">Acessando como </span><img style="width: 50px; height: 50px;"src="/Images/avatar.gif" width="50" height="50" title="@User.Identity.Name"/>*@
        </div>
    <div class="clear"></div>
</div>

