<div class="SliderBg">
			<!-- Begin Slider -->
			<div id="coin-slider">
                <a href="#">
                	<img src="/images/slider/slide1.png" width="952" height="392" alt="img1" />
                    <span>
                        Fazemos sistemas adequados e customizados para o seu negócio, estamos sempre nos atualizando sobre as novas técnologias de mercado.
                    </span>
				</a>
                @*<a href="#">
					<img src="/images/slider/slide2.png" width="952" height="392" alt="img2" />
					<span>A web site typically consists of text, images, animation and /or video. The first page of a web site is known as the Home page or Index Page. Some web sites use what is commonly called a Splash Page. Splash pages might include</span>
				</a>*@
                <a href="#">
                	<img src="/images/slider/slide3.png" width="952" height="392" alt="img3" />
                    <span>
                        Estamos investindo em compartilhamento de conhecimneto, disponibilizamos diversas video-aulas para todos que tiverem interesse poder iniciar sua vida na programação
                    </span>
				</a>
                <a href="#">
					<img src="/images/slider/slide4.png" width="952" height="392" alt="img4" />
                    <span>
                        Criação de Sites e Sistemas para todos os tipos de negócios. 
                    </span>
				</a>
                @*<a href="#">
                	<img src="/images/slider/slide5.png" width="952" height="392" alt="img5" />
                    <span>Web design is different than traditional print publishing. Every website is an information display container, just as a book is a contain and every web page is like the page in a book. However the end size and shape of the web</span>
				</a>*@
                <a href="#">
					<img src="/images/slider/slide6.png" width="952" height="392" alt="img6" />
                    <span>
                        Estamos cada dia procurando o desenvolvimento e a solução técnologica para resolver e satisfazer nossos cliente
                    </span>
				</a>
            </div>
			<!-- End Slider -->
		</div>